.footer {
  background-color: $white;
  position: relative;
  flex: 0 0 auto;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $grey-light;
    bottom: 52px;
    opacity: 20%;
    @media (max-width: $tablet-width-only) {
      bottom: 59px;
    }
    @media (max-width: $mobile-width-only) {
      bottom: 116px;
    }
  }
  &::after {
    @media (max-width: $tablet-width-only) {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $grey-light;
      top: 96px;
      opacity: 20%;
    }
    @media (max-width: $mobile-width-only) {
      top: 260px;
    }
  }
}

.footer__social-wrap {
  width: 19%;
  p {
    display: none;
    @media (max-width: $tablet-width-only) {
      display: block;
      font-size: 13px;
      font-size: 13px;
      opacity: 50%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin-top: 22px;
      margin-left: 20px;
    }
    @media (max-width: $mobile-width-only) {
      text-align: center;
      margin-left: 0;
    }
  }
  @media (max-width: $tablet-width-only) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
  }
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.footer__logo {
  img {
    margin-top: 15px;
    @media (max-width: $tablet-width-only) {
      margin-top: 0;
    }
    @media (max-width: $mobile-width-only) {
      width: 216px;
      margin-top: 27px;
      margin-bottom: 3px;
    }
  }
  @media (max-width: $mobile-width-only) {
    width: 100%;
    text-align: center;
  }
}

.footer__social {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 125px;
  margin-top: 50px;
  @media (max-width: $tablet-width-only) {
    margin-top: 11px;
    margin-left: 0;
  }
  @media (max-width: $mobile-width-only) {
    margin: auto;
    margin-top: 37px;
    margin-bottom: 23px;
  }
}

.footer__social-fb {
  content: "";
  background-image: url("../img/icon-fb.svg");
  width: 27px;
  height: 27px;
  &:hover {
    opacity: 50%;
  }
}

.footer__social-ok {
  content: "";
  background-image: url("../img/icon-od.svg");
  width: 27px;
  height: 27px;
  &:hover {
    opacity: 50%;
  }
}

.footer__social-vk {
  content: "";
  background-image: url("../img/icon-vk.svg");
  width: 27px;
  height: 27px;
  &:hover {
    opacity: 50%;
  }
}

.footer__parts-site {
  //margin-left: -101px;
  width: 39%;
  max-width: 495px;
  position: relative;
  @media (max-width: $tablet-width-only) {
    margin-left: 0;
    width: auto;
  }
  @media (max-width: $mobile-width-only) {
    width: 100%;
    max-width: 100%;
  }
  &::before {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      border-bottom: 1px solid $grey-light;
      opacity: 20%;
      content: "";
      bottom: 0px;
      padding-left: 30px;
      left: -15px;
      width: 100%;
    }
  }
  h3 {
    font-family: "Roboto Condensed", "Courier", monospace;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
    color: $dark-grey;
    margin-bottom: 24px;
    cursor: auto;
    @media (max-width: $tablet-width-only) {
      padding-left: 0;
      padding-top: 27px;
    }
    @media (max-width: $mobile-width-only) {
      margin-bottom: 0px;
      padding-bottom: 27px;
      position: relative;
      cursor: pointer;
      &::after {
        content: "";
        height: 1px;
        width: 16px;
        background-color: $grey-light-line;
        top: 33px;
        right: 0;
        position: absolute;
      }
    }
  }
  ul {
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    display: grid;
    @media (max-width: $tablet-width-only) {
      display: block;
    }
  }
  a {
    color: $dark-grey;
    font-size: 15px;
    line-height: 25px;
    padding-left: 0;
    opacity: 50%;
    &:hover {
      color: $blue;
    }
    @media (max-width: $tablet-width-only) {
      padding-left: 0;
    }
  }
}

.footer__parts-site--closed {
  h3 {
    @media (max-width: $mobile-width-only) {
      &::before {
        content: "";
        height: 16px;
        width: 1px;
        background-color: $grey-light-line;
        top: 26px;
        right: 8px;
        position: absolute;
      }
    }
  }
  ul {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
}

.footer__contact-site {
  color: $dark-grey;
  font-size: 15px;
  line-height: 25px;
  margin-right: 3px;
  width: 24%;
  h3 {
    font-family: "Roboto Condensed", "Courier", monospace;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 23px;
    cursor: auto;
    @media (max-width: $tablet-width-only) {
      padding-top: 27px;
    }
    @media (max-width: $mobile-width-only) {
      margin-bottom: 0;
      position: relative;
      cursor: pointer;
      margin-top: 0;
      padding-bottom: 17px;
      &::after {
        content: "";
        height: 1px;
        width: 16px;
        background-color: $grey-light-line;
        top: 35px;
        right: 0;
        position: absolute;
      }
    }
  }
  p {
    opacity: 50%;
    font-size: 15px;
    margin-bottom: 0;
    @media (max-width: $mobile-width-only) {
      width: 90%;
    }
  }
  a {
    color: $dark-grey;
    opacity: 50%;
    font-size: 15px;
    line-height: 24px;
    &:hover {
      color: $blue;
    }
  }
  @media (max-width: $tablet-width-only) {
    margin-right: 11px;
    width: auto;
  }
  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.footer__contact-site--closed {
  h3 {
    @media (max-width: $mobile-width-only) {
      &::before {
        content: "";
        height: 16px;
        width: 1px;
        background-color: $grey-light-line;
        top: 27px;
        right: 7px;
        position: absolute;
      }
    }
  }
  p {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
  ul {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
}

.footer__footnotes {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  width: 99.6%;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-weight: 400;
  opacity: 50%;
  text-transform: uppercase;
  color: $dark-grey;
  p {
    @media (max-width: $tablet-width-only) {
      width: 100%;
      text-align: right;
    }
    @media (max-width: $mobile-width-only) {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  @media (max-width: $tablet-width-only) {
    margin-top: 44px;
    width: 100%
  }
  @media (max-width: $mobile-width-only) {
    text-align: center;
    display: block;
    margin-top: 53px;
  }
}

.footer__footnotes-confidentiality {
  display: flex;
  justify-content: space-between;
  max-width: 816px;
  width: 75%;
  a {
    color: $dark-grey;
  }
  p {
    @media (max-width: $tablet-width-only) {
      text-align: left;
    }
    @media (max-width: $mobile-width-only) {
      text-align: center;
    }
  }
  @media (max-width: $tablet-width-only) {
    display: block;
    width: 50%;
  }
  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.footer__footnotes-text {
  display: flex;
  justify-content: space-between;
  width: 457px;
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}
