.variants {
  width: 100%;
  background-color: $dark-grey;
  min-height: 938px;
  h3 {
    color: $white;
    font-size: 36px;
    line-height: 50px;
    font-family: "Roboto Condensed", "Courier", monospace;
    font-weight: 400;
    text-align: center;
    width: 61%;
    padding-left: 198px;
    padding-top: 89px;
    margin-bottom: 52px;
    @media (max-width: $tablet-width-only) {
      font-size: 32px;
      line-height: 45px;
      padding-left: 0px;
      padding-top: 50px;
      margin-bottom: 49px;
      text-align: left;
      width: 613px;
    }
    @media (max-width: $mobile-width-only) {
      font-size: 28px;
      line-height: 40px;
      width: 95%;
      padding-left: 10px;
      margin-bottom: 39px;
    }
  }
  @media (max-width: $tablet-width-only) {
    padding-bottom: 32px;
  }
}

.variants-wrap {
  @media (max-width: $tablet-width-only) {
    margin: 0 auto;
    max-width: 715px;
  }
  @media (max-width: $mobile-width-only) {
    margin: 0 15px;
  }
}

.variants__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 62.5%;
  margin: 0 auto;
  h4 {
    font-size: 20px;
    line-height: 30px;
    font-family: "Roboto Condensed", "Courier", monospace;
    font-weight: 400;
    color: $white;
    width: 170px;
    margin-top: 40px;
    padding-left: 42px;
    @media (max-width: $mobile-width-only) {
      margin-top: 21px;
      padding-left: 35px;
    }
  }
  @media (max-width: $tablet-width-only) {
    width: 100%;
    display: block;
  }
}

.variants__item {
  width: 31.3%;
  a {
    height: 620px;
    width: 100%;
    max-width: 370px;
    position: relative;
    &::after {
      content: "";
      background-image: url(../img/icon-vector.svg);
      background-repeat: no-repeat;
      background-position-x: 34px;
      background-position-y: 27px;
      width: 63px;
      height: 63px;
      background-color: $blue;
      display: block;
      bottom: 0;
      right: 0;
      position: absolute;
    }
    @media (max-width: $tablet-width-only) {
      height: 256px;
      max-width: 715px;
      margin: 0 auto;
    }
  }
  @media (max-width: $tablet-width-only) {
    width: 100%;
    max-width: 715px;
    margin: 0 auto;
    margin-bottom: 46px;
  }
  @media (max-width: $mobile-width-only) {
    margin-bottom: 30px;
    max-width: 290px;
  }
}

.variants__item--circuit {
  a {
    background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/circuit-boards-desctop@1x.jpg);
    @media (min-resolution: 1.5dppx) {
      //background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/circuit-boards-desctop@2x.jpg);
    }
    @media (max-width: $tablet-width-only) {
      background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/circuit-boards-tablet@1x.jpg);
      @media (min-resolution: 1.5dppx) {
        //background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/circuit-boards-tablet@2x.jpg);
      }
    }
    @media (max-width: $mobile-width-only) {
      background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/circuit-boards-mobile@1x.jpg);
      @media (min-resolution: 1.5dppx) {
        // background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/circuit-boards-mobile@2x.jpg);
      }
    }
  }
}

.variants__item--cpu {
  a {
    background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/cpu-desctop@1x.jpg);
    @media (min-resolution: 1.5dppx) {
      //background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/cpu-desctop@2x.jpg);
    }
    @media (max-width: $tablet-width-only) {
      background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/cpu-tablet@1x.jpg);
      @media (min-resolution: 1.5dppx) {
        //background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/cpu-tablet@2x.jpg);
      }
    }
    @media (max-width: $mobile-width-only) {
      background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/cpu-mobile@1x.jpg);
      @media (min-resolution: 1.5dppx) {
        //background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/cpu-mobile@2x.jpg);
      }
    }
  }
}

.variants__item--led {
  a {
    background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/led-desctop@1x.jpg);
    @media (min-resolution: 1.5dppx) {
      //background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/led-desctop@2x.jpg);
    }
    @media (max-width: $tablet-width-only) {
      background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/led-tablet@1x.jpg);
      @media (min-resolution: 1.5dppx) {
        //background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/led-tablet@2x.jpg);
      }
    }
    @media (max-width: $mobile-width-only) {
      background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/led-mobile@1x.jpg);
      @media (min-resolution: 1.5dppx) {
        // background-image: linear-gradient(rgba(27, 45, 55, 0.80), rgba(27, 45, 55, 0.80)), url(../img/led-mobile@2x.jpg);
      }
    }
  }
}
