$blue: #00B2FF;
$white: #FFFFFF;
$dirty-white: #EBEBEB;
$black: #000000;
$dark-grey: #1B2D37;
$grey: #666666;
$grey-light: #626962;
$grey-light-line: #C4C4C4;

$tablet-width: 768px;
$mobile-width-only: ($tablet-width - 1px);
$desktop-width: 1024px;
$tablet-width-only: ($desktop-width - 1px);

$max-width: 1417px;
$min-width: 320px;
